.selection {
    width: 40vw;
    height: 60vh;
    min-height: 400px;
    min-width: 350px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    border-radius: 10px;
  }
  
  .selection span {
    vertical-align: center;
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
  }
  
  .btn {
    cursor: pointer;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    transition: transform .3s ease;
  }
  
  .btn:hover { 
    transform: scale(1.4);
  }
  
  .btn.one {
    background-color: #6f2dbd;
  }
  
  .btn.two {
    background-color: #800e13;
  }
  
  .btn.three {
    background-color: #fe7f2d;
  }
  
  .btn.four {
    background-color: #00509d;
  }
  
  .btn.five {
    background-color: #7ae582;
  }
  
  .btn.six {
    background-color: #f15bb5;
  }
  
  .btn.seven {
    background-color: #636940;
  }
  
  .btn.eight {
    background-color: #f7e8a4;
  }
  
  .btn.nine {
    background-color: #9e6240;
  }