.score-board {
    width: 240px;
    height: 180px;
    display: grid;
    grid-template: 'a b' 1fr 'c d' 1fr 'e e' 1fr / 20% 80%;
    text-align: center;
    align-items: center;
    background: linear-gradient(45deg, #2b2e42, #353953, #2b2e42);
    border: 2px dotted black;
    border-radius: 10px;
    padding: 10px;
    gap: 2px;
    border-bottom: 1px solid #b0afb0;
}

.score-description {
    font-size: 1.2em;
    font-weight: 700;
}

.score-number {
    font-size: 3em;
    font-weight: 700;
    animation: score-number-entry .5s ease;
}

@keyframes score-number-entry {
    20% {transform: scale(1.7);}
}

.score-description.red, .score-number.red {
    color: #da344d;
}

.score-description.green, .score-number.green{
    color: #99d98c;
}

.score-attemps {
    grid-area: e;
}