header {
  width: 100%;
  height: 20vh;
  min-height: 150px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container {
  filter: drop-shadow(5px 5px 2px #9aa8be);
  transform: rotate(-10deg);
}

header h1 {
  font-family: Lobster;
  margin: 0;
  color: #f4442e;
  font-size: 4em;
}

.help-modal {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: white;
  z-index: 11;
  display: none;
}

.container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.main-character-container {
  width: 200px;
  height: 420px;
}

@media screen and (max-width: 500px) {
  .main-character-container {
    width: 100px;
    height: 210px;
  }
}

.mid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.check-turn-btn, .reset-game-btn {
  cursor: pointer;
  font-family: Cagliostro;
  width: 75%;
  height: 50px;
  color: #1b263b;
  font-size: 1.3em;
  border-radius: 10px;
  border: none;
  transition: all .3s ease;
}

.check-turn-btn {
  background-color: #80ed99;
}

.check-turn-btn:hover, .reset-game-btn:hover {
  box-shadow: 0px 4px 4px #fcbf49;
}

.reset-game-btn {
  background-color: #a7c957;
}